<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../styles/styles.css" />
  <link rel="stylesheet" href="https://unpkg.com/@tabler/icons@latest/iconfont/tabler-icons.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600" />
  <title>App Development Services | Digital Ninjas</title>
</head>

<body>
  <nav class="app-header bg-danger shadow-sm fixed-top">
    <a class="h4 text-light mb-0 fw-normal text-decoration-none" href="./index.html">Digital Ninjas</h4>
      <div class="navigation">
        <a href="../index.html" class="nav-link small rounded py-1 px-2">
          <span class="me-2">
            <i class="ti ti-home"></i>
          </span>
          Home
        </a>
        <a href="../about.html" class="nav-link small rounded py-1 px-2">
          <span class="me-2">
            <i class="ti ti-info-square"></i>
          </span>
          About
        </a>
        <a href="../contact.html" class="nav-link small rounded py-1 px-2">
          <span class="me-2">
            <i class="ti ti-phone-calling"></i>
          </span>
          Contact
        </a>
        <a href="../services.html" class="nav-link small rounded py-1 px-2 active">
          <span class="me-2">
            <i class="ti ti-apps"></i>
          </span>
          Services
        </a>
        <a href="../careers.html" class="nav-link small rounded py-1 px-2">
          <span class="me-2">
            <i class="ti ti-briefcase"></i>
          </span>
          Careers
        </a>
      </div>
  </nav>
  <!-- Replace this in next page. -->
  <main class="services-page services-page__service-page">
    <section class="container-fluid py-5">
      <div class="container header">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-danger">Applications</h1>
            <h4 class="text-dark">That Make an Impact!</h4>
            <p class="text-muted">
              To thrive in a world of online businesses, you need somehting to connectt to millions of users at once.
              That is where <span class="fw-bold text-danger">Digital Ninjas</span> comes in...
            </p>
            <p>Explore our app development services to find out exactly what you need.</p>
            <button class="btn btn-lg btn-danger shadow">
              <span class="me-2"><i class="ti ti-phone-call"></i></span>
              Or Give us a Call</button>
          </div>
          <div class="col-md-5">
            <img src="../assets/appdev.jpg" alt="" class="w-100">
          </div>
        </div>
      </div>
    </section>
    <section class="container-fluid bg-dark text-light py-5">
      <h3 class="text-center mt-4">Our App Development Process...</h3>
      <div class="timeline-steps aos-init aos-animate mt-5" data-aos="fade-up">
        <div class="timeline-step">
          <div class="timeline-content">
            <div class="inner-circle"></div>
            <p class="h6 mt-3 mb-1">Step 1</p>
            <p class="h6 text-danger mb-0 mb-lg-0">Information Gathering</p>
            <p class="small text-muted mt-3">Set goals for the website, define target audience</p>
          </div>
        </div>
        <div class="timeline-step">
          <div class="timeline-content">
            <div class="inner-circle"></div>
            <p class="h6 mt-3 mb-1">Step 2</p>
            <p class="h6 text-danger mb-0 mb-lg-0">Planning</p>
            <p class="small text-muted mt-3">Create a sitemap sketch, wireframe mockup, select tech-stack etc.</p>
          </div>
        </div>
        <div class="timeline-step">
          <div class="timeline-content">
            <div class="inner-circle"></div>
            <p class="h6 mt-3 mb-1">Step 3</p>
            <p class="h6 text-danger mb-0 mb-lg-0">Design</p>
            <p class="small text-muted mt-3">Create, review page layouts, and get client's feedback, changing as
              required.</p>
          </div>
        </div>
        <div class="timeline-step">
          <div class="timeline-content">
            <div class="inner-circle"></div>
            <p class="h6 mt-3 mb-1">Step 4</p>
            <p class="h6 text-danger mb-0 mb-lg-0">Content & Assembly</p>
            <p class="small text-muted mt-3">Create new content, and get it ready for migration</p>
          </div>
        </div>
        <div class="timeline-step mb-0">
          <div class="timeline-content">
            <div class="inner-circle"></div>
            <p class="h6 mt-3 mb-1">Step 5</p>
            <p class="h6 text-danger mb-0 mb-lg-0">Developing</p>
            <p class="small text-muted mt-3">Build and deploy Website, special features and interactivity, considering
              SEO</p>
          </div>
        </div>
        <div class="timeline-step mb-0">
          <div class="timeline-content">
            <div class="inner-circle"></div>
            <p class="h6 mt-3 mb-1">Step 6</p>
            <p class="h6 text-danger mb-0 mb-lg-0">Test, Review and Launch</p>
            <p class="small text-muted mt-3">Thorough testing and then deployment ot production server after complete
              regression</p>
          </div>
        </div>
      </div>
      <div class="container">
        <p class="text-center">As you can see from the steps above, there's a lot of steps involved in the development
          process. This ensures not only that your website will be of standard but also free from any unwanted behavious
          down the line.</p>
      </div>
    </section>
    <section class="tech-stack container-fluid bg-light py-5">
      <div class="container my-5">
        <h2 class="text-center">Technologies we work on...</h2>
        <p class="text-center text-danger">
          We work with industry leading technologies which grarantees that we are following all modern standards and not
          introducing any issues which comes from outdated tech in the internet.
        </p>
        <div class="row m-0">
          <div class="col-md-4">
            <h4 class="text-center pb-2 border-bottom border-danger">Web Technologies</h4>
            <div class="d-flex w-100 my-4 img-list">
              <div class="img-container shadow bg-light">
                <img src="../assets/html.svg">
              </div>
              <div class="img-container shadow bg-light">
                <img src="../assets/css.svg">
              </div>
              <div class="img-container shadow bg-light">
                <img src="../assets/js.svg">
              </div>
              <div class="img-container shadow bg-light">
                <img src="../assets/react-js-logo.svg">
              </div>
              <div class="img-container shadow bg-light">
                <img src="../assets/pwa-logo.svg">
              </div>
              <div class="img-container shadow bg-light">
                <img src="../assets/angular-logo.svg">
              </div>
              <div class="img-container shadow bg-light">
                <img src="../assets/php-logo-small.svg">
              </div>
              <div class="img-container shadow bg-light">
                <img src="../assets/go-logo-blue-small.svg">
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <h4 class="text-center pb-2 border-bottom border-danger">Native App Technologies</h4>
            <div class="d-flex w-100 my-4 img-list">
              <div class="img-container shadow bg-light">
                <img src="../assets/android-logo.svg">
              </div>
              <div class="img-container shadow bg-light">
                <img src="../assets/ios-logo.svg">
              </div>
              <div class="img-container shadow bg-light">
                <img src="../assets/flutter-logo.svg">
              </div>
              <div class="img-container shadow bg-light">
                <img src="../assets/xamarin-logo-vertical.svg">
              </div>
              <div class="img-container shadow bg-light">
                <img src="../assets/cordova-logo.svg">
              </div>
              <div class="img-container shadow bg-light">
                <img src="../assets/python_1.svg">
              </div>
              <div class="img-container shadow bg-light">
                <img src="../assets/swift.svg">
              </div>

            </div>
          </div>
          <div class=" col-md-4">
            <h4 class="text-center pb-2 border-bottom border-danger">Platforms</h4>

            <div class="d-flex w-100 my-4 img-list">
              <div class="img-container shadow bg-light">
                <img src="../assets/salesforce.svg">
              </div>
              <div class="img-container shadow bg-light">
                <img src="../assets/magento-logo-2.svg">
              </div>
              <div class="img-container shadow bg-light">
                <img src="../assets/power-bi-2020.svg">
              </div>
              <div class="img-container shadow bg-light">
                <img src="../assets/sap.svg">
              </div>
              <div class="img-container shadow bg-light">
                <img src="../assets/aws.svg">
              </div>
              <div class="img-container shadow bg-light">
                <img src="../assets/azure-full.svg">
              </div>
              <div class="img-container shadow bg-light">
                <img src="../assets/google-cloud-logo.svg">
              </div>
              <div class="img-container shadow bg-light">
                <img src="../assets/digital-ocean.svg">
              </div>

            </div>
          </div>
        </div>

        <h3 class="text-center mt-4 mb-0">And a lot <span class="text-danger">more...</span></h3>
      </div>
    </section>
  </main>
  <!-- Replace this in next page. -->
  <footer class="app-footer container-fluid bg-dark py-5">
    <div class="container">
      <div class="row m-0">
        <div class="col-md-4 col-lg-4 mb-3 text-light">
          <h3 class="pmb-3">Digital Ninjas</h3>
          <p class="text-muted small">
            A team of seriously qualified, trained and highly knowledgeable
            people, called
            <span class="fw-bold text-light">Digital Ninjas,</span> who know
            how to do all of those and a lot more. It's time your business
            came out of the mold of regular store and became a fully fetched
            online business.
          </p>
          <div class="d-flex mt-3 footer-social-icons">
            <i class="ti ti-brand-facebook"></i>
            <i class="ti ti-brand-instagram"></i>
            <i class="ti ti-brand-whatsapp"></i>
          </div>
        </div>
        <div class="col-md-4 col-lg-4 mb-3">
          <h5 class="text-light text-decoration-underline">Quick Links</h5>
          <ul class="list-unstyled ms-0 mt-3">
            <li>
              <a href="../contact.html" class="text-light footer-link">
                24/7 Support
              </a>
            </li>
            <li>
              <a href="../about.html" class="text-light footer-link"> About </a>
            </li>
            <li>
              <a href="../careers.html" class="text-light footer-link">
                Careers
              </a>
            </li>
            <li>
              <a href="../faq.html" class="text-light footer-link">
                FAQ's
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 col-lg-4 mb-3">
          <h5 class="text-light text-decoration-underline">Services</h5>
          <ul class="list-unstyled ms-0 mt-3">
            <li>
              <a href="./app-development.page.html" class="text-light footer-link"> App Development </a>
            </li>
            <li>
              <a href="./web-security.page.html" class="text-light footer-link"> Web Security </a>
            </li>
            <li>
              <a href="./graphic-designing.page.html" class="text-light footer-link"> Graphic Designing </a>
            </li>
            <li>
              <a href="./seo.page.html" class="text-light footer-link"> Seo Consultancy </a>
            </li>
            <li>
              <a href="../services.html" class="text-light footer-link">
                Explore all services.....
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</body>

</html>