<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/styles.css" />
    <link rel="stylesheet" href="https://unpkg.com/@tabler/icons@latest/iconfont/tabler-icons.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600" />
    <title>Graphic Designing Services | Digital Ninjas</title>
</head>

<body>
    <nav class="app-header bg-danger shadow-sm fixed-top">
        <a class="h4 text-light mb-0 fw-normal text-decoration-none" href="./index.html">Digital Ninjas</h4>
            <div class="navigation">
                <a href="../index.html" class="nav-link small rounded py-1 px-2">
                    <span class="me-2">
                        <i class="ti ti-home"></i>
                    </span>
                    Home
                </a>
                <a href="../about.html" class="nav-link small rounded py-1 px-2">
                    <span class="me-2">
                        <i class="ti ti-info-square"></i>
                    </span>
                    About
                </a>
                <a href="../contact.html" class="nav-link small rounded py-1 px-2">
                    <span class="me-2">
                        <i class="ti ti-phone-calling"></i>
                    </span>
                    Contact
                </a>
                <a href="../services.html" class="nav-link small rounded py-1 px-2 active">
                    <span class="me-2">
                        <i class="ti ti-apps"></i>
                    </span>
                    Services
                </a>
                <a href="../careers.html" class="nav-link small rounded py-1 px-2">
                    <span class="me-2">
                        <i class="ti ti-briefcase"></i>
                    </span>
                    Careers
                </a>
            </div>
    </nav>
    <!-- Replace this in next page. -->
    <main class="services-page__service-page">
        <section class="container-fluid py-5">
            <div class="container header">
                <div class="row">
                    <div class="col-md-7">
                        <h1 class="text-danger">Designs</h1>
                        <h4 class="text-dark">To reach more than your audience!</h4>
                        <p class="text-muted">
                            When something looks good to your audience, they will automaticaaly come to you for more.
                            And to brigde that gap, <span class="fw-bold text-danger">Digital Ninjas</span> comes in...
                        </p>
                        <p>Explore our Graphic Designing services to find out exactly what you need...</p>
                        <button class="btn btn-lg btn-danger shadow">
                            <span class="me-2"><i class="ti ti-phone-call"></i></span>
                            Or Give us a Call</button>
                    </div>
                    <div class="col-md-5">
                        <img src="../assets/graphic designer.webp" alt="" class="w-100">
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Replace this in next page. -->
    <footer class="app-footer container-fluid bg-dark py-5">
        <div class="container">
            <div class="row m-0">
                <div class="col-md-4 col-lg-4 mb-3 text-light">
                    <h3 class="pmb-3">Digital Ninjas</h3>
                    <p class="text-muted small">
                        A team of seriously qualified, trained and highly knowledgeable
                        people, called
                        <span class="fw-bold text-light">Digital Ninjas,</span> who know
                        how to do all of those and a lot more. It's time your business
                        came out of the mold of regular store and became a fully fetched
                        online business.
                    </p>
                    <div class="d-flex mt-3 footer-social-icons">
                        <i class="ti ti-brand-facebook"></i>
                        <i class="ti ti-brand-instagram"></i>
                        <i class="ti ti-brand-whatsapp"></i>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 mb-3">
                    <h5 class="text-light text-decoration-underline">Quick Links</h5>
                    <ul class="list-unstyled ms-0 mt-3">
                        <li>
                            <a href="../contact.html" class="text-light footer-link">
                                24/7 Support
                            </a>
                        </li>
                        <li>
                            <a href="../about.html" class="text-light footer-link"> About </a>
                        </li>
                        <li>
                            <a href="../careers.html" class="text-light footer-link">
                                Careers
                            </a>
                        </li>
                        <li>
                            <a href="../faq.html" class="text-light footer-link">
                                FAQ's
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 col-lg-4 mb-3">
                    <h5 class="text-light text-decoration-underline">Services</h5>
                    <ul class="list-unstyled ms-0 mt-3">
                        <li>
                            <a href="./app-development.page.html" class="text-light footer-link"> App
                                Development </a>
                        </li>
                        <li>
                            <a href="./web-security.page.html" class="text-light footer-link"> Web Security
                            </a>
                        </li>
                        <li>
                            <a href="./graphic-designing.page.html" class="text-light footer-link"> Graphic
                                Designing </a>
                        </li>
                        <li>
                            <a href="./seo.page.html" class="text-light footer-link"> Seo Consultancy </a>
                        </li>
                        <li>
                            <a href="../services.html" class="text-light footer-link">
                                Explore all services.....
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>