<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/styles.css" />
    <link rel="stylesheet" href="https://unpkg.com/@tabler/icons@latest/iconfont/tabler-icons.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600" />
    <title>Ads and Marketing Services | Digital Ninjas</title>
</head>

<body>
    <nav class="app-header bg-danger shadow-sm fixed-top">
        <a class="h4 text-light mb-0 fw-normal text-decoration-none" href="./index.html">Digital Ninjas</h4>
            <div class="navigation">
                <a href="../index.html" class="nav-link small rounded py-1 px-2">
                    <span class="me-2">
                        <i class="ti ti-home"></i>
                    </span>
                    Home
                </a>
                <a href="../about.html" class="nav-link small rounded py-1 px-2">
                    <span class="me-2">
                        <i class="ti ti-info-square"></i>
                    </span>
                    About
                </a>
                <a href="../contact.html" class="nav-link small rounded py-1 px-2">
                    <span class="me-2">
                        <i class="ti ti-phone-calling"></i>
                    </span>
                    Contact
                </a>
                <a href="../services.html" class="nav-link small rounded py-1 px-2 active">
                    <span class="me-2">
                        <i class="ti ti-apps"></i>
                    </span>
                    Services
                </a>
                <a href="../careers.html" class="nav-link small rounded py-1 px-2">
                    <span class="me-2">
                        <i class="ti ti-briefcase"></i>
                    </span>
                    Careers
                </a>
            </div>
    </nav>
    <!-- Replace this in next page. -->
    <main class="services-page__service-page">
        <section class="container-fluid py-5">
            <div class="container header">
                <div class="row">
                    <div class="col-md-7">
                        <h1 class="text-danger">Reach People</h1>
                        <h4 class="text-dark">The right way forward.</h4>
                        <p class="text-muted">
                            We follow a proven process for creating a specific strategy for each of our clients. We make
                            sure that our expertise in the various aspects and forms of digital advertising are utilized
                            with each campaign that we craft. We promise to put the same effort and care into your
                            digital advertising campaigns that we put into our own advertising campaign.
                        </p>
                        <p>Explore our security process to find out exactly what you need.</p>
                        <button class="btn btn-lg btn-danger shadow">
                            <span class="me-2"><i class="ti ti-phone-call"></i></span>
                            Or Give us a Call</button>
                    </div>
                    <div class="col-md-5">
                        <img src="../assets/marketing.png" alt="" class="w-100">
                    </div>
                </div>
            </div>
        </section>
        <section class="more-content container-fluid py-5 bg-light">
            <div class="container">
                <h2 class="text-center text-dark mb-4">
                    Why <span class="text-danger">Digital Advertising Services?</span>
                </h2>
                <p>Advertising is not new. From the earliest periods of human history, advertising has existed in one
                    form or another. As technology developed, advertising also adapted to the changes. When printing
                    became common, people started to use it for ads. Then radio came along and it became a good venue
                    for advertising products and services too.
                </p>
                <p>When television came along, that became a game-changer in the world of advertising. Television
                    commercials became a huge platform for businesses to advertise themselves.
                </p>
                <p>But all of that would be dwarfed by the advent of the internet and computer technology, which gave
                    rise to digital advertising. This really changed the way that ads were delivered and assessed.</p>

                <h2 class="mt-4 mb-2 p-3 bg-dark text-light rounded">What exactly do we offer?</h2>
                <div class="list-group list-group-flush rounded shadow">
                    <div class="list-group-item">
                        <h2 class="text-danger">Social Media Ads</h2>
                        <p class="text-muted mb-0">Social media advertising can help you widen your audience reach.
                            There
                            were 3.48 billion social media users all over the world in 2019 and that number continues to
                            rise. With that number of users, it makes a lot of sense for you to use social media as a
                            platform for your ads. The best platforms to use are Facebook, Twitter, LinkedIn, Pinterest
                            and Instagram but it ultimately depends on the kind of business that you have. We will
                            determine the right social media platform for you to use to reach your target audience and
                            we will implement a strategy.</p>
                    </div>
                    <div class="list-group-item">
                        <h2 class="text-danger">Display Advertisements</h2>
                        <p class="text-muted mb-0">There are different types of ads for display advertising that can be
                            used.
                            Any Google ads that rely mainly on visuals can be classified as display ads. So banners, pop
                            ups, flash, and video ads can fall into this category. Display ads are a part of Google’s
                            advertising platforms, giving you access to retarget your audience all across the web.</p>
                    </div>
                    <div class="list-group-item">
                        <h2 class="text-danger">PPC Ads</h2>
                        <p class="text-muted mb-0">The use of pay-per-click ads can be an effective means of driving
                            traffic
                            to your site or landing pages. It’s very cost-effective because you’re only paying for those
                            who actually showed an interest to your ad by clicking on it. We will create effective and
                            enticing PPC ad copies for you.</p>
                    </div>
                    <div class="list-group-item">
                        <h2 class="text-danger">Search Engine Marketing</h2>
                        <p class="text-muted mb-0">Search Engine Advertising (SEM) are ads that are shown on search
                            engine
                            result pages such as that of Google’s and Bing’s. These are effective as they would appear
                            to people who are already interested in what you are offering. The key to launching
                            successful campaigns is a strategic keyword research. There are two types of ad campaigns in
                            search advertising that can be used. The first type is called pay-per-click (PPC) and the
                            second is called cost-per-thousand (CPM). We will tell you which type would be best to use
                            for your campaign.</p>
                    </div>
                    <div class="list-group-item">
                        <h2 class="text-danger">Native Ads</h2>
                        <p class="text-muted mb-0">Another useful form of online advertising are native ads. These
                            appear on
                            blogs and websites like sponsored ads. They can be effective because they appear as a form
                            of recommendation. If people trust the site where your ads appear, then you will get a lot
                            of traffic from the ad as a result.</p>
                    </div>
                    <div class="list-group-item">
                        <h2 class="text-danger">Retargeting</h2>
                        <p class="text-muted mb-0">Retargeting or remarketing is a form of advertising which is only
                            fully
                            possible with digital ads. The basic idea behind these ads is that they retarget those who
                            have somehow interacted with your brand in the past or have been your previous website
                            visitors. Because they have shown interest in the past, they are likely to make a purchase
                            now. These ads have proven to be highly effective in driving conversions, and we can show
                            how to utilize them properly.</p>
                    </div>
                    <div class="list-group-item">
                        <h2 class="text-danger">Video Ads</h2>
                        <p class="text-muted mb-0">Video is the content of the future in any business’ marketing
                            strategy.
                            More and more people are interacting with video content today. Now, we can help you create
                            video ads to increase your engagement, boost your lead generation, grow your brand awareness
                            and even sales!</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="final-words container-fluid bg-danger">
            <div class="row">
                <div class="col-md-6 px-5 py-5">
                    <h2 class="text-light pb-3 border-bottom border-light">Why go with <span class="text-dark">Digital
                            Ninjas</span> For Digital
                        Advertising
                        Services?</h2>
                    <p class="text-light">We don’t solely create digital ad campaigns. We perform all aspects of
                        digital advertising services for our clients. So, when you come to LYFE Marketing, you won’t
                        need anyone else to help grow your brand online.</p>
                </div>
                <div class="col-md-6 px-5 py-5 bg-dark">
                    <h3 class="text-light">We Have Years Of Experience</h3>

                    <p class="text-muted pb-3 border-bottom border-danger">We have the experience and the results from
                        our digital advertising services to prove what we can do. We have worked with a lot of clients
                        who have been satisfied with our results. Take a look at the case studies on our website for
                        evidence of this!</p>

                    <h3 class="text-light">We Listen to Our Clients</h3>

                    <p class="text-muted">This may sound simple, but many digital marketing agencies ignore the needs of
                        their clients. We
                        don’t do that. We make sure that we understand your needs before we start on a project and we
                        can
                        only do that by listening to you.</p>
                </div>

            </div>
        </section>
        <section class="container-fluid ads-image-block py-5">
            <div class="my-5 text-light">.</div>
            <div class="my-5 text-light">.</div>
            <div class="my-5 text-light">.</div>
            <div class="my-5 text-light">.</div>
            <div class="my-5 text-light">.</div>
            <div class="my-5 text-light">.</div>
            <div class="my-5 text-light">.</div>
            <div class="my-5 text-light">.</div>
        </section>
        <section class="container-fluid bg-dark text-light py-5 mb-5">
            <h3 class="text-center mt-4">How we reach bigger audience</h3>
            <div class="timeline-steps aos-init aos-animate mt-5" data-aos="fade-up">
                <div class="timeline-step">
                    <div class="timeline-content">
                        <div class="inner-circle"></div>
                        <p class="h6 mt-3 mb-1">Step 1</p>
                        <p class="h6 text-danger mb-0 mb-lg-0">Information Gathering</p>
                        <p class="small text-muted mt-3">We understand your business to figure out a strategy for
                            marketing</p>
                    </div>
                </div>
                <div class="timeline-step">
                    <div class="timeline-content">
                        <div class="inner-circle"></div>
                        <p class="h6 mt-3 mb-1">Step 2</p>
                        <p class="h6 text-danger mb-0 mb-lg-0">Planning</p>
                        <p class="small text-muted mt-3">Reviewing the strategy to figure out what platforms to touch
                        </p>
                    </div>
                </div>
                <div class="timeline-step">
                    <div class="timeline-content">
                        <div class="inner-circle"></div>
                        <p class="h6 mt-3 mb-1">Step 3</p>
                        <p class="h6 text-danger mb-0 mb-lg-0">Create Ads</p>
                        <p class="small text-muted mt-3">Create ad content that suits your business</p>
                    </div>
                </div>
                <div class="timeline-step">
                    <div class="timeline-content">
                        <div class="inner-circle"></div>
                        <p class="h6 mt-3 mb-1">Step 4</p>
                        <p class="h6 text-danger mb-0 mb-lg-0">Platform Selection</p>
                        <p class="small text-muted mt-3">Facebook, Twitter, Mails, SMS, Targetted, you name it.</p>
                    </div>
                </div>
                <div class="timeline-step mb-0">
                    <div class="timeline-content">
                        <div class="inner-circle"></div>
                        <p class="h6 mt-3 mb-1">Step 5</p>
                        <p class="h6 text-danger mb-0 mb-lg-0">Deployment</p>
                        <p class="small text-muted mt-3">Run the ads on the decided platforms</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <p class="text-center">As you can see from the steps above, there's a lot of things we take care for you
                    when you are working with us.</p>
            </div>
        </section>
    </main>
    <!-- Replace this in next page. -->
    <footer class="app-footer container-fluid bg-dark py-5">
        <div class="container">
            <div class="row m-0">
                <div class="col-md-4 col-lg-4 mb-3 text-light">
                    <h3 class="pmb-3">Digital Ninjas</h3>
                    <p class="text-muted small">
                        A team of seriously qualified, trained and highly knowledgeable
                        people, called
                        <span class="fw-bold text-light">Digital Ninjas,</span> who know
                        how to do all of those and a lot more. It's time your business
                        came out of the mold of regular store and became a fully fetched
                        online business.
                    </p>
                    <div class="d-flex mt-3 footer-social-icons">
                        <i class="ti ti-brand-facebook" data-bs-toggle="tooltip" data-bs-placement="top"
              title="Connect with us on Facebook"></i>
            <i class="ti ti-brand-instagram" data-bs-toggle="tooltip" data-bs-placement="top"
              title="Connect with us on Instagram"></i>
            <i class="ti ti-brand-whatsapp" data-bs-toggle="tooltip" data-bs-placement="top"
              title="Connect with us on Whatsapp"></i>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 mb-3">
                    <h5 class="text-light text-decoration-underline">Quick Links</h5>
                    <ul class="list-unstyled ms-0 mt-3">
                        <li>
                            <a href="../contact.html" class="text-light footer-link">
                                24/7 Support
                            </a>
                        </li>
                        <li>
                            <a href="../about.html" class="text-light footer-link"> About </a>
                        </li>
                        <li>
                            <a href="../careers.html" class="text-light footer-link">
                                Careers
                            </a>
                        </li>
                        <li>
                            <a href="../faq.html" class="text-light footer-link">
                                FAQ's
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 col-lg-4 mb-3">
                    <h5 class="text-light text-decoration-underline">Services</h5>
                    <ul class="list-unstyled ms-0 mt-3">
                        <li>
                            <a href="./app-development.page.html" class="text-light footer-link"> App
                                Development </a>
                        </li>
                        <li>
                            <a href="./web-security.page.html" class="text-light footer-link"> Web Security
                            </a>
                        </li>
                        <li>
                            <a href="./graphic-designing.page.html" class="text-light footer-link"> Graphic
                                Designing </a>
                        </li>
                        <li>
                            <a href="./seo.page.html" class="text-light footer-link"> Seo Consultancy </a>
                        </li>
                        <li>
                            <a href="../services.html" class="text-light footer-link">
                                Explore all services.....
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <div class="whatsapp-link-container shadow" role="button" tabindex="0" data-bs-container="body"
        data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="focus"
        data-bs-content="<h5 class=''>Contact Us on Whatsapp.</h5><a class='m-0 h6 text-success text-decoration-none' href='https://api.whatsapp.com/send?phone=8745874590' target='_blank'>+91 9876543210</a>">
        <img src="../assets/whatsapp-logo.svg" alt="">
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="../scritps/scripts.js"></script>
</body>

</html>