<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/styles.css" />
    <link rel="stylesheet" href="https://unpkg.com/@tabler/icons@latest/iconfont/tabler-icons.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600" />
    <title>SEO Services | Digital Ninjas</title>
</head>

<body>
    <nav class="app-header bg-danger shadow-sm fixed-top">
        <a class="h4 text-light mb-0 fw-normal text-decoration-none" href="./index.html">Digital Ninjas</h4>
            <div class="navigation">
                <a href="../index.html" class="nav-link small rounded py-1 px-2">
                    <span class="me-2">
                        <i class="ti ti-home"></i>
                    </span>
                    Home
                </a>
                <a href="../about.html" class="nav-link small rounded py-1 px-2">
                    <span class="me-2">
                        <i class="ti ti-info-square"></i>
                    </span>
                    About
                </a>
                <a href="../contact.html" class="nav-link small rounded py-1 px-2">
                    <span class="me-2">
                        <i class="ti ti-phone-calling"></i>
                    </span>
                    Contact
                </a>
                <a href="../services.html" class="nav-link small rounded py-1 px-2 active">
                    <span class="me-2">
                        <i class="ti ti-apps"></i>
                    </span>
                    Services
                </a>
                <a href="../careers.html" class="nav-link small rounded py-1 px-2">
                    <span class="me-2">
                        <i class="ti ti-briefcase"></i>
                    </span>
                    Careers
                </a>
            </div>
    </nav>
    <!-- Replace this in next page. -->
    <main class="services-page__service-page">
        <section class="container-fluid py-5">
            <div class="container header">
                <div class="row">
                    <div class="col-md-7">
                        <h1 class="text-danger">Your Website</h1>
                        <h4 class="text-dark">On the front Page, ALWAYS...</h4>
                        <p class="text-muted">
                            Being noticed is the key to success when it comes to online campaigning.
                        </p>
                        <p>Let is help you reach better audience with specific tools tailor made for your specific
                            needs.</p>
                        <button class="btn btn-lg btn-danger shadow">
                            <span class="me-2"><i class="ti ti-phone-call"></i></span>
                            Or Give us a Call</button>
                    </div>
                    <div class="col-md-5">
                        <img src="../assets/seo.png" alt="" class="w-100">
                    </div>
                </div>
            </div>
        </section>
        <section class="container-fluid bg-light pb-5 text-center">
            <h2 class="text-danger pt-5 border-top border-danger container">Exceptional Digital Marketing Plans,
                Stunning SEO
                Rankings</h2>
            <h4 class="text-dark fw-bold">We Digitize, We Innovate, We Trigger You To The Top</h4>
        </section>
        <section class="container-fluid bg-dark text-light py-5 mb-3">
            <div class="container">
                <h1 class="text-center fw-light">Digital Marketing Services by <br><span
                        class="text-danger fw-bold">Digital Ninjas</span></h1>
                <div class="row mt-5">
                    <div class="col-md-3">
                        <div class="bg-light shadow text-center p-3 rounded" style="height: 10rem;">
                            <h4 class="text-danger">Search Engine Marketing</h4>
                            <p class="text-muted fst-italic">We optimize sites to bring you striking conversions with
                                the
                                help
                                of impressive traffic.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="bg-light shadow text-center p-3 rounded" style="height: 10rem;">
                            <h4 class="text-danger">Social Media Marketing</h4>
                            <p class="text-muted fst-italic">We customize unique social media marketing strategies to
                                make
                                your
                                brand soar up high!</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="bg-light shadow text-center p-3 rounded" style="height: 10rem;">
                            <h4 class="text-danger">Content Marketing</h4>
                            <p class="text-muted fst-italic">Let us help you attract and retain more web traffic with
                                ace
                                content that sells!</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="bg-light shadow text-center p-3 rounded" style="height: 10rem;">
                            <h4 class="text-danger">Website Analytics</h4>
                            <p class="text-muted fst-italic">We draw powerful insights from virtually non-existent data
                                to
                                spruce up your strategies.</p>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <section class="container-fluid py-5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <img src="../assets/seo-img-2.jpg" class="w-100" alt="">
                    </div>
                    <div class="col-md-6 px-5">
                        <h3 class="text-dark mb-4">Top reasons to choose <span class="text-danger fw-bold">Digital
                                Ninjas</span> </h3>

                        <h5 class="text-dark">
                            <span class="text-danger">
                                <i class="ti ti-checks"></i>
                            </span>
                            No Fixed SEO Or Digital Marketing Packages
                        </h5>
                        <p class="mb-4 small text-muted">We understand that each website has customized needs and adhere
                            to it.</p>
                        <h5 class="text-dark">
                            <span class="text-danger">
                                <i class="ti ti-checks"></i>
                            </span>
                            Secure And Safe
                        </h5>
                        <p class="mb-4 small text-muted">We specialize in protecting your Website Security & Digital
                            Assets.</p>
                        <h5 class="text-dark">
                            <span class="text-danger">
                                <i class="ti ti-checks"></i>
                            </span>
                            We Offer You A Full-On Digital Marketing Package
                        </h5>
                        <p class="mb-4 small text-muted">We do not dissociate SEO, SEM, Content Marketing, SMO etc.</p>

                        <h5 class="text-dark">
                            <span class="text-danger">
                                <i class="ti ti-checks"></i>
                            </span>
                            Transparency At Brim
                        </h5>
                        <p class="mb-4 small text-muted">You will always be provided up to date information about how
                            your Online Marketing is carried out.</p>
                        <h5 class="text-dark">
                            <span class="text-danger">
                                <i class="ti ti-checks"></i>
                            </span>
                            Accountability
                        </h5>
                        <p class="mb-4 small text-muted">We share every piece of information with you with the aid of
                            precise and automated reports.</p>
                        <h5 class="text-dark">
                            <span class="text-danger">
                                <i class="ti ti-checks"></i>
                            </span>
                            Affordable Charges

                        </h5>
                        <p class="mb-4 small text-muted">Affordable charges and reasonable rates. No hidden charges!</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Replace this in next page. -->
    <footer class="app-footer container-fluid bg-dark py-5">
        <div class="container">
            <div class="row m-0">
                <div class="col-md-4 col-lg-4 mb-3 text-light">
                    <h3 class="pmb-3">Digital Ninjas</h3>
                    <p class="text-muted small">
                        A team of seriously qualified, trained and highly knowledgeable
                        people, called
                        <span class="fw-bold text-light">Digital Ninjas,</span> who know
                        how to do all of those and a lot more. It's time your business
                        came out of the mold of regular store and became a fully fetched
                        online business.
                    </p>
                    <div class="d-flex mt-3 footer-social-icons">
                        <i class="ti ti-brand-facebook" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="Connect with us on Facebook"></i>
                        <i class="ti ti-brand-instagram" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="Connect with us on Instagram"></i>
                        <i class="ti ti-brand-whatsapp" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="Connect with us on Whatsapp"></i>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 mb-3">
                    <h5 class="text-light text-decoration-underline">Quick Links</h5>
                    <ul class="list-unstyled ms-0 mt-3">
                        <li>
                            <a href="../contact.html" class="text-light footer-link">
                                24/7 Support
                            </a>
                        </li>
                        <li>
                            <a href="../about.html" class="text-light footer-link"> About </a>
                        </li>
                        <li>
                            <a href="../careers.html" class="text-light footer-link">
                                Careers
                            </a>
                        </li>
                        <li>
                            <a href="../faq.html" class="text-light footer-link">
                                FAQ's
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 col-lg-4 mb-3">
                    <h5 class="text-light text-decoration-underline">Services</h5>
                    <ul class="list-unstyled ms-0 mt-3">
                        <li>
                            <a href="./app-development.page.html" class="text-light footer-link"> App
                                Development </a>
                        </li>
                        <li>
                            <a href="./web-security.page.html" class="text-light footer-link"> Web Security
                            </a>
                        </li>
                        <li>
                            <a href="./graphic-designing.page.html" class="text-light footer-link"> Graphic
                                Designing </a>
                        </li>
                        <li>
                            <a href="./seo.page.html" class="text-light footer-link"> Seo Consultancy </a>
                        </li>
                        <li>
                            <a href="../services.html" class="text-light footer-link">
                                Explore all services.....
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <div class="whatsapp-link-container shadow" role="button" tabindex="0" data-bs-container="body"
        data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="focus"
        data-bs-content="<h5 class=''>Contact Us on Whatsapp.</h5><a class='m-0 h6 text-success text-decoration-none' href='https://api.whatsapp.com/send?phone=8745874590' target='_blank'>+91 9876543210</a>">
        <img src="../assets/whatsapp-logo.svg" alt="">
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="../scritps/scripts.js"></script>
</body>

</html>