<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/styles.css" />
    <link rel="stylesheet" href="https://unpkg.com/@tabler/icons@latest/iconfont/tabler-icons.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600" />
    <title>Web Security Services | Digital Ninjas</title>
</head>

<body>
    <nav class="app-header bg-danger shadow-sm fixed-top">
        <a class="h4 text-light mb-0 fw-normal text-decoration-none" href="./index.html">Digital Ninjas</h4>
            <div class="navigation">
                <a href="../index.html" class="nav-link small rounded py-1 px-2">
                    <span class="me-2">
                        <i class="ti ti-home"></i>
                    </span>
                    Home
                </a>
                <a href="../about.html" class="nav-link small rounded py-1 px-2">
                    <span class="me-2">
                        <i class="ti ti-info-square"></i>
                    </span>
                    About
                </a>
                <a href="../contact.html" class="nav-link small rounded py-1 px-2">
                    <span class="me-2">
                        <i class="ti ti-phone-calling"></i>
                    </span>
                    Contact
                </a>
                <a href="../services.html" class="nav-link small rounded py-1 px-2 active">
                    <span class="me-2">
                        <i class="ti ti-apps"></i>
                    </span>
                    Services
                </a>
                <a href="../careers.html" class="nav-link small rounded py-1 px-2">
                    <span class="me-2">
                        <i class="ti ti-briefcase"></i>
                    </span>
                    Careers
                </a>
            </div>
    </nav>
    <!-- Replace this in next page. -->
    <main class="services-page__service-page">
        <section class="container-fluid py-5">
            <div class="container header">
                <div class="row">
                    <div class="col-md-7">
                        <h1 class="text-danger">Security</h1>
                        <h4 class="text-dark">That you can rely on.</h4>
                        <p class="text-muted">
                            The web is a malicious place, and to survive and thrive in an environment like this, you
                            need a strong and reliable security solution.
                        </p>
                        <p>Explore our security process to find out exactly what you need.</p>
                        <button class="btn btn-lg btn-danger shadow">
                            <span class="me-2"><i class="ti ti-phone-call"></i></span>
                            Or Give us a Call</button>
                    </div>
                    <div class="col-md-5">
                        <img src="../assets/security.webp" alt="" class="w-100">
                    </div>
                </div>
            </div>
        </section>
        <section class="container-fluid px-0 text-dark ">
            <h1 class=" fw-bold text-center text-danger bg-light pt-5 pb-3 mb-0">Powerful website security & protection
                designed for you
            </h1>
            <div class="container-fluid bg-light pb-4">
                <div class="container">
                    <p class="text-muted text-center">
                        Comprehensive website security software protects your website from malicious cyber threats. This
                        includes the protection of your site code and web applications.
                        Depending on your website security package, you’ll receive daily website scans, automated
                        malware removal, and vulnerability/CMS patching, as well as a web application firewall to block
                        harmful traffic before it ever reaches your site.
                    </p>
                </div>
            </div>
            <div class="container">
                <div class="row pt-5 border-top border-danger">
                    <div class="col-md-6 mb-5">
                        <h4 class="text-danger">
                            <span class="text-danger"><img src="../assets/sec-1.svg" class="security-item-icon"
                                    alt=""></span>
                            <span>Website Scanning</span>
                        </h4>
                        <p class="text-dark">
                            Our website security scan instantly checks your website from malware, viruses and other
                            cyber threats and alerts you to found issues.
                        </p>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h4 class="text-danger">
                            <span class="text-danger">
                                <img src="../assets/sec-2.svg" class="security-item-icon" alt="">
                            </span>
                            <span>
                                Malware Removal</span>
                        </h4>
                        <p class="text-dark">
                            Detect and automatically remove malicious content from your website, creating a safe
                            experience for your customers.
                        </p>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h4 class="text-danger">
                            <span class="text-danger">
                                <img src="../assets/sec-3.svg" class="security-item-icon" alt="">
                            </span>
                            <span>Vulnerability Patching</span>
                        </h4>
                        <p class="text-dark">
                            Easily check for website vulnerabilities in your CMS with our vulnerability scanner before
                            they are exploited.
                        </p>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h4 class="text-danger">
                            <span class="text-danger">
                                <img src="../assets/sec-4.svg" class="security-item-icon" alt="">
                            </span>
                            <span>Website Backup</span>
                        </h4>
                        <p class="text-dark">
                            Securely backup your website to protect against ransomware, hardware corruption and human
                            errors with our reliable backup solution.
                        </p>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h4 class="text-danger">
                            <span class="text-danger">
                                <img src="../assets/sec-5.svg" class="security-item-icon" alt="">
                            </span>
                            <span>Web Application Firewall (WAF)</span>
                        </h4>
                        <p class="text-dark">
                            Powerful WAF security to protect against advanced cyberthreats - including the top ten
                            threats that could damage your website.
                        </p>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h4 class="text-danger">
                            <span class="text-danger">
                                <img src="../assets/sec-6.svg" class="security-item-icon" alt="">

                            </span>
                            <span>Content Delivery Network</span>
                        </h4>
                        <p class="text-dark">
                            Digital Ninjas technology enables high volumes of website traffic with zero lag time,
                            ensuring the best possible customer experience with no latency.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="container d-flex justify-content-center">
            <img src="../assets/security-2.jpg" class="w-50" alt="">
        </section>
        <section class="container-fluid bg-dark py-5">
            <div class="container">
                <h2 class="fw-bold text-center text-light">The Security You Need. The Simplicity You Want.</h2>
                <h5 class="fw-light fst-italic text-danger text-center">
                    The Digital Ninjas platform was built with you in mind. Regardless of your business size or your
                    level of cybersecurity awareness, we can help.
                </h5>
                <div class="row mt-4">
                    <div class="col-md-4">
                        <div class="rounded p-4 shadow bg-light text-center">
                            <h4 class="fw-bold">Fast, Automated Protection</h4>
                            <p class="text-muted">Remove malware and patch vulnerabilities as soon as they appear. Your
                                automated security plan will fix threats before damage is done.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="rounded p-4 shadow bg-light text-center">
                            <h4 class="fw-bold">Continuous Monitoring</h4>
                            <p class="text-muted">Always be informed about the security of your site with automated
                                alert emails and live results from your SiteLock Dashboard.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="rounded p-4 shadow bg-light text-center">
                            <h4 class="fw-bold">Peace of Mind</h4>
                            <p class="text-muted">Rest assured that your site is protected 24/7. We are the
                                leading security provider who offer automated malware removal to keep your business
                                protected.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container-fluid bg-light text-dark py-5">
            <h3 class="text-center mt-4">What Our Security Soluion Covers</h3>
            <div class="timeline-steps aos-init aos-animate mt-5" data-aos="fade-up">
                <div class="timeline-step">
                    <div class="timeline-content">
                        <div class="inner-circle"></div>
                        <p class="h6 mt-3 mb-1">Threat protection</p>
                        <!-- <p class="h6 text-danger mb-0 mb-lg-0">Information Gathering</p> -->
                        <p class="small text-muted mt-3">Malicious and DDoS attack prevention</p>
                    </div>
                </div>
                <div class="timeline-step">
                    <div class="timeline-content">
                        <div class="inner-circle"></div>
                        <p class="h6 mt-3 mb-1">Data Recovery</p>
                        <!-- <p class="h6 text-danger mb-0 mb-lg-0">Planning</p> -->
                        <p class="small text-muted mt-3">In case of data loss, our backups have your back</p>
                    </div>
                </div>
                <div class="timeline-step">
                    <div class="timeline-content">
                        <div class="inner-circle"></div>
                        <p class="h6 mt-3 mb-1">Cyber Checks</p>
                        <!-- <p class="h6 text-danger mb-0 mb-lg-0">Design</p> -->
                        <p class="small text-muted mt-3">Continuous monitoring of your site</p>
                    </div>
                </div>
                <div class="timeline-step">
                    <div class="timeline-content">
                        <div class="inner-circle"></div>
                        <p class="h6 mt-3 mb-1">Encryption</p>
                        <!-- <p class="h6 text-danger mb-0 mb-lg-0">Content & Assembly</p> -->
                        <p class="small text-muted mt-3">Protection against brute force password attacks</p>
                    </div>
                </div>
                <div class="timeline-step mb-0">
                    <div class="timeline-content">
                        <div class="inner-circle"></div>
                        <p class="h6 mt-3 mb-1">Privacy</p>
                        <!-- <p class="h6 text-danger mb-0 mb-lg-0">Developing</p> -->
                        <p class="small text-muted mt-3">Secure your and your client's data</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <p class="text-center">As you can see from the steps above, there's a lot of things we take care for you
                    when you are working with us.</p>
            </div>
        </section>
    </main>
    <!-- Replace this in next page. -->
    <footer class="app-footer container-fluid bg-dark py-5">
        <div class="container">
            <div class="row m-0">
                <div class="col-md-4 col-lg-4 mb-3 text-light">
                    <h3 class="pmb-3">Digital Ninjas</h3>
                    <p class="text-muted small">
                        A team of seriously qualified, trained and highly knowledgeable
                        people, called
                        <span class="fw-bold text-light">Digital Ninjas,</span> who know
                        how to do all of those and a lot more. It's time your business
                        came out of the mold of regular store and became a fully fetched
                        online business.
                    </p>
                    <div class="d-flex mt-3 footer-social-icons">
                        <i class="ti ti-brand-facebook"></i>
                        <i class="ti ti-brand-instagram"></i>
                        <i class="ti ti-brand-whatsapp"></i>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 mb-3">
                    <h5 class="text-light text-decoration-underline">Quick Links</h5>
                    <ul class="list-unstyled ms-0 mt-3">
                        <li>
                            <a href="../contact.html" class="text-light footer-link">
                                24/7 Support
                            </a>
                        </li>
                        <li>
                            <a href="../about.html" class="text-light footer-link"> About </a>
                        </li>
                        <li>
                            <a href="../careers.html" class="text-light footer-link">
                                Careers
                            </a>
                        </li>
                        <li>
                            <a href="../faq.html" class="text-light footer-link">
                                FAQ's
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 col-lg-4 mb-3">
                    <h5 class="text-light text-decoration-underline">Services</h5>
                    <ul class="list-unstyled ms-0 mt-3">
                        <li>
                            <a href="./app-development.page.html" class="text-light footer-link"> App
                                Development </a>
                        </li>
                        <li>
                            <a href="./web-security.page.html" class="text-light footer-link"> Web Security
                            </a>
                        </li>
                        <li>
                            <a href="./graphic-designing.page.html" class="text-light footer-link"> Graphic
                                Designing </a>
                        </li>
                        <li>
                            <a href="./seo.page.html" class="text-light footer-link"> Seo Consultancy </a>
                        </li>
                        <li>
                            <a href="../services.html" class="text-light footer-link">
                                Explore all services.....
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <div class="whatsapp-link-container shadow" role="button" tabindex="0" data-bs-container="body"
        data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="focus"
        data-bs-content="<h5 class=''>Contact Us on Whatsapp.</h5><a class='m-0 h6 text-success text-decoration-none' href='https://api.whatsapp.com/send?phone=8745874590' target='_blank'>+91 9876543210</a>">
        <img src="../assets/whatsapp-logo.svg" alt="">
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="../scritps/scripts.js"></script>
</body>

</html>