@import "./palette";

.owl-nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  button span {
    font-size: 2rem;
  }
  button.disabled {
    opacity: 0.45;
  }
}

.owl-dots {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  .owl-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba($color: $dark, $alpha: 0.3) !important;
    &.active {
      background: rgba($color: $dark, $alpha: 0.7) !important;
    }
  }
}
