$black: #000000;
$white: #ffffff;
$primary: #22577a;
$secondary: #467599;
$dark: #14213d;
$warning: #fca311;
$light: #e5e5e5;
$danger: #d64045;
$muted: #9999a1;

$tooltip-bg: $light;
$tooltip-color: $dark;
$tooltip-arrow-color: transparent;
