@import "./palette";

.home {
  &__header {
    height: 80vh;
    background-image: url("../static/images/hero-01.jpg");
    background-position: center top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .content {
      padding: 1.5rem;
      border-radius: 0.5rem;
      text-align: center;
      .title {
        font-size: 1.5rem;
        color: $white;
      }
      .brand {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 4rem;
        color: $white;
      }
    }
  }
  &__info {
  }
  &__testimonials {
    .testimonial {
      margin: 1rem 0.25rem 1.5rem 0.25rem;
      background-color: $white;
      border-radius: 0.75rem;
      padding: 1.5rem;
      span.quote-icon {
        position: absolute;
        font-size: 2rem;
        right: 16px;
        top: 16px;
        opacity: 0.6;
      }
    }
  }
}
