@import "./palette";

.single-blog {
  &__header {
    height: 80vh;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.food-1 {
      background-image: url("../static/images/nutri-blog-1.cover.webp");
    }
    &.food-2 {
      background-image: url("../static/images/nutri-blog-2.cover.webp");
    }
    &.food-3 {
      background-image: url("../static/images/nutri-blog-3.cover.webp");
    }
    &.food-4 {
      background-image: url("../static/images/nutri-blog-4.cover.webp");
    }
    &.food-5 {
      background-image: url("../static/images/nutri-blog-5.cover.webp");
    }
    &.food-6 {
      background-image: url("../static/images/nutri-blog-6.cover.webp");
    }

    &.workout-1 {
      background-image: url("../static/images/workout-blog-1.cover.webp");
    }
    &.workout-2 {
      background-image: url("../static/images/workout-blog-2.cover.webp");
    }
    &.workout-3 {
      background-image: url("../static/images/workout-blog-3.cover.webp");
    }
    &.workout-4 {
      background-image: url("../static/images/workout-blog-4.cover.webp");
    }
    &.workout-5 {
      background-image: url("../static/images/workout-blog-5.cover.webp");
    }
    &.workout-6 {
      background-image: url("../static/images/workout-blog-6.cover.webp");
    }
    &.workout-7 {
      background-image: url("../static/images/workout-blog-7.cover.webp");
    }

    &.lifestyle-1 {
      background-image: url("../static/images/lifestyle-blog-1.cover.webp");
    }
    &.lifestyle-2 {
      background-image: url("../static/images/lifestyle-blog-2.cover.webp");
    }
    &.lifestyle-3 {
      background-image: url("../static/images/lifestyle-blog-3.cover.webp");
    }
    &.lifestyle-4 {
      background-image: url("../static/images/lifestyle-blog-4.cover.webp");
    }
    &.lifestyle-5 {
      background-image: url("../static/images/lifestyle-blog-5.cover.webp");
    }

    &.weight-1 {
      background-image: url("../static/images/weight-blog-1.cover.webp");
    }
    &.weight-2 {
      background-image: url("../static/images/weight-blog-2.cover.webp");
    }
    &.weight-3 {
      background-image: url("../static/images/weight-blog-3.cover.webp");
    }
    &.weight-4 {
      background-image: url("../static/images/weight-blog-4.cover.webp");
    }
    &.weight-5 {
      background-image: url("../static/images/weight-blog-5.cover.webp");
    }
    &.weight-6 {
      background-image: url("../static/images/weight-blog-6.cover.webp");
    }
  }
}
